<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Document</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="cust.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <section class="home-section">
    <nav>
      <div>
        <span class="title">Vaccine Details</span>
      </div>
      <div class="btn">
        <button><a href="page.html">GO BACK</a></button>
        <button><a href="">RESET</a></button>
      </div>
    </nav>

    <div class="home-content">
      <div class="s-boxes">
        <div class="r-sales box">
          <div class="s-details">
            <ul class="details">
              <li class="topic">Date</li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ul>
            <ul class="details">
            <li class="topic">BOX ID</li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
             <li></li>
          </ul>
          <ul class="details">
            <li class="topic">Vaccine ID</li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
             <li></li>
             <li></li>
          </ul>
          <ul class="details">
            <li class="topic">Vaccine name</li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
             <li></li>
            <li></li>
          </ul>
          <ul class="details">
            <li class="topic">Count</li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
          <ul class="details">
            <li class="topic">Manufacturing Date</li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
             <li></li>
            <li></li>
          </ul>
          <ul class="details">
            <li class="topic">Expiry Date</li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
             <li></li>
            <li></li>
          </ul>
          <ul class="details">
            <li class="topic">Location</li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
             <li></li>
            <li></li>
          </ul>
          <ul class="details">
            <li class="topic">Status</li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
             <li></li>
            <li></li>
          </ul>
        </div>
  </section>
</body>
</html>

