<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Document</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="stylesheets/front.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
   </head>
<body>
  
  <div class="container">
    <div class="content">
      <form action="#">
        <div class="button2">
          
            <input  type="button" value="GO BACK" onclick="window.location.href='/back'">
          </div>
        <div class="user-details">
          <div class="input-box">
            <span class="details">Box Name</span>
<select name="box" id="box">
  <option value="select">select an option</option>
  {{#if vaccine}}
 <option>{{vaccine}}</option>
 {{else}}
 <option></option>
 {{/if}}
</select>
          </div>
          <div class="input-box">
            <span class="details">Box ID</span>
            <input type="text" placeholder="Enter Box ID" required>
          </div>
          <div class="input-box">
            <span class="details">Employee ID</span>
            <input type="text" value="{{data}}" placeholder="Enter employee ID" required>
          </div>
          <div class="input-box">
            <span class="details">Password</span>
            <input type="text" placeholder="Enter your password" required>
          </div>
        <div class="button1">
          <input type="submit" value="NEXT">
        </div>
      </form>
    </div>
  </div>
     

</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function () {
    $('.container').hide().fadeIn(1000);
  });
</script>

</html>
