<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
      <meta charset="UTF-8">
      <link rel="stylesheet" href="stylesheets/history.css">
      <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>
      <div class="sidebar">

            <!-- <div class="logo-details">
      <i class='bx bxl-c-plus-plus'></i>
      <span class="logo_name">CodingLab</span>
    </div> -->
      </div>
      <section class="home-section">
            <nav>
                  <div>
                        <span class="title">History</span>
                  </div>
                  {{!-- <div class="btn">
                        <button><a href="/back">GO BACK</a></button>
                  </div> --}}
                  
                  <input type="button" class="button my-button" value="GO BACK" onclick="window.location.href='/back'">
                  
            </nav>

            <div class="home-content">

                  <div class="s-boxes">
                        <div class="r-sales box">
                              <div class="s-details">
                                    <ul class="details">
                                          <li class="topic">Date</li>
                                          <li>02 Jan 2021</li>

                                    </ul>
                                    <ul class="details">
                                          <li class="topic">BOX ID</li>
                                          <li>A12</li>

                                    </ul>
                                    <ul class="details">
                                          <li class="topic">VACCINE ID</li>
                                          <li>2098</li>
                                    </ul>
                                    <ul class="details">
                                          <li class="topic">Vaccine name</li>
                                          <li>COVAXIN</li>

                                    </ul>
                                    <ul class="details">
                                          <li class="topic">Status</li>
                                          <li>Delivered</li>
                                    </ul>
                              </div>
      </section>
      
</body>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
      $(document).ready(function () {
            $('.r-sales').hide().fadeIn(1500);
      });
</script>

<script>
      $(document).ready(function () {
            $('.title').hide().slideDown(1000); 
      });
</script>
<script>
      $(document).ready(function () {
            $('.my-button').click(function () {
                  $(this).fadeOut(500); // Fade out the button over 0.5 seconds when clicked
            });
      });
</script>




</html>


