<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
      <meta charset="UTF-8">
      <link rel="stylesheet" href="stylesheets/history.css">
      <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
      <div class="sidebar">

            <!-- <div class="logo-details">
      <i class='bx bxl-c-plus-plus'></i>
      <span class="logo_name">CodingLab</span>
    </div> -->
      </div>
      <section class="home-section">
            <nav>
                  <div>
                        <span class="title">History</span>
                  </div>
                  <div class="btn">
                        <button><a href="page.html">GO BACK</a></button>
                  </div>
            </nav>

            <div class="home-content">

                  <div class="s-boxes">
                        <div class="r-sales box">
                              <div class="s-details">
                                    <ul class="details">
                                          <li class="topic">Date</li>
                                          <li>02 Jan 2021</li>
                                          <li>02 feb 2021</li>
                                          <li>02 oct 2021</li>
                                          <li>02 feb 2021</li>
                                          <li>02 may 2021</li>
                                          <li>02 may 2021</li>
                                          <li>02 may 2021</li>
                                          <li>02 nov 2021</li>
                                          <li>02 sep 2021</li>
                                    </ul>
                                    <ul class="details">
                                          <li class="topic">BOX ID</li>
                                          <li>A12</li>
                                          <li>B23</li>
                                          <li>D25</li>
                                          <li>A35</li>
                                          <li>P55</li>
                                          <li>A12</li>
                                          <li>B33</li>
                                          <li>G22</li>
                                          <li>C31</li>
                                    </ul>
                                    <ul class="details">
                                          <li class="topic">VACCINE ID</li>
                                          <li>2098</li>
                                          <li>1102</li>
                                          <li>1112</li>
                                          <li>1032</li>
                                          <li>1425</li>
                                          <li>1055</li>
                                          <li>1402</li>
                                          <li>1111</li>
                                          <li>1002</li>
                                    </ul>
                                    <ul class="details">
                                          <li class="topic">Vaccine name</li>
                                          <li>COVAXIN</li>
                                          <li>COVISHIELD</li>
                                          <li>COVAXIN</li>
                                          <li>COVISHIELD</li>
                                          <li>COVAXIN</li>
                                          <li>COVAXIN</li>
                                          <li>COVISHIELD</li>
                                          <li>COVAXIN</li>
                                          <li>COVISHIELD</li>
                                    </ul>
                                    <ul class="details">
                                          <li class="topic">Status</li>
                                          <li>Delivered</li>
                                          <li>Delivered</li>
                                          <li>Returned</li>
                                          <li>Delivered</li>
                                          <li>Delivered</li>
                                          <li>Returned</li>
                                          <li>Delivered</li>
                                          <li>Delivered</li>
                                          <li>Delivered</li>
                                    </ul>
                              </div>
      </section>
</body>

</html>