<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="stylesheets/edit.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <!-- <img src="logo+.jpg"> -->
    <form action="/next" method="POST">
        <div>
        <button class="btn1" type="button" onclick=""><b>
        <h2 class="def">GO BACK</a></h2>
        </b></button>
        <!-- <a href="/page"> -->
        
    <table>
    <tr>
        <td ><label for="fname">
            <h4>Name of the Vaccine</h4>
        </label></td>
        
    <td><input type="text" placeholder="Enter Vaccine name"  name="fname" required></td>
    </tr>
    <tr>
        <td><label for="vid">
                <h4>Vaccine ID</h4>
            </label></td>
        <td><input type="text" placeholder="Enter Vaccine id" value="this." name="vid"></td>
    </tr>
    <tr>
        <td><label for="mdate">
                <h4>Manufacturing Date</h4>
            </label></td>
        <td><input type="text" name="mdate" required></td>
    </tr>
    <tr>

        <td><label for="edate">
                <h4>Date of Expiry</h4>
            </label></td>
        <td><input type="text" name="edate" required></td>
    </tr>
    <tr>
        <td><label for="temperature">
                <h4>Temperature(in degrees)</h4>
            </label></td>
        <td><input type="text" name="temperature" required></td>
    </tr>
    </table>
<div>
    <h2 class="abc">SLOTS AVAILABLE</h2>
    <div class="row">
    <div class="container">
    <div class="slot1"></div> 
    <div class="slot2"></div>
    <div class="slot3"></div>
    <div class="slot4"></div>
</div>
</div>
</div>
<div>
    <button class="btn2" type="submit" onclick="">
        <h2 class="ab">SUBMIT</h2>
   </button>
   <!-- <a href="/select"></a> -->
</div>
</body>
</html>
