

<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="stylesheets/page.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Document</title>
</head>

<body>
    <div class="pt-table desktop-768">
        <div class="pt-tablecell page-home relative">
            <div class="overlay"></div>
            <div>
                <button><i class='bx bx-log-out'> <a href="/logout">Log out</a></i></button>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
                        <div class="hexagon-menu clear">
                            <div class="hexagon-item">
                                <div class="hex-item">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                                <div class="hex-item">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                                <a class="hex-content" href="/front">
                                    <span class="hex-content-inner">

                                        <span class="title">
                                            <h4>ADD NEW FIELDS</h4>
                                        </span>
                                    </span>
                                </a>
                            </div>
                            <div class="hexagon-item">
                                <div class="hex-item">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                                <div class="hex-item">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                                <a class="hex-content" href="/user">
                                    <span class="hex-content-inner">

                                        <span class="title">
                                            <h4>USER DETAILS</h4>
                                        </span>
                                    </span>
                                </a>
                            </div>
                            <div class="hexagon-item">
                                <div class="hex-item">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                                <div class="hex-item">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                                <a class="hex-content" href="/history">
                                    <span class="hex-content-inner">
                                        <span class="title">
                                            <h4>HISTORY</h4>
                                        </span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</body>

</html>