<!DOCTYPE html>
<html>

<head>
      <title>Slide Navbar</title>
      <link rel="stylesheet" type="text/css" href="stylesheets/signup.css">
      <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>

<body>
      <form action="/signup" method="post">
      <div class="main">
            <input type="checkbox" id="chk" aria-hidden="true">

            <div class="signup">
                  <form>
                        <label for="chk" aria-hidden="true">Register</label>
                        <input type="text" name="name" placeholder="User name" required="">
                        <input type="email" name="email" placeholder="Email" required="">
                        <input type="password" name="pswd" placeholder="Password" required="">
                        <input type="date" name="dateofjoin" placeholder="dateofjoin" required="">
                        <input type="date" name="dob" placeholder="dob" required="">
                        <input type="text" name="emp_id" placeholder="emp_id" required="">
                        <input type="text" name="mob" placeholder="mob" required="">
                        <button>Sign up</button>
                  </form>
            </div>
      </div>
      </form>
</body>

</html>

</body>

</html>