

<!DOCTYPE html>
<html>

<head>
      <meta charset="UTF-8">
      <link rel="stylesheet" href="stylesheets/next.css">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
</head>

<body>
      <div class="formbold-main-wrapper">
            <form action="/vaccine" method="POST">
                  <div class="formbold-mb-3">
                        <label for="name" class="formbold-form-label">Name of the Vaccine</label>
                        <input type="text" name="name" id="name" class="formbold-form-input" />
                  </div>

                  <div class="formbold-mb-31">
                        <label for="id1" class="formbold-form-label">Vaccine ID</label>
                        <input type="text" name="id1" id="id1" class="formbold-form-input" />
                  </div>

                  <div class="formbold-mb-32">
                        <label for="dob" class="formbold-form-label">Date of Manufacturing</label>
                        <input type="text" name="dob" id="dob" class="formbold-form-input" />
                  </div>

                  <div class="formbold-mb-33">
                        <label for="dobb" class="formbold-form-label">Date of Expiry</label>
                        <input type="text" name="dobb" id="dobb" class="formbold-form-input" />
                  </div>

                  <div class="formbold-mb-34">
                        <label for="temp" class="formbold-form-label">Temperature (in degrees)</label>
                        <input type="text" name="temp" id="temp" value="{{datatemp}}" class="formbold-form-input formbold-mb-3" />
                  </div>

                  <div class="formbold-mb-35">
                        <label for="units" class="formbold-form-label">Available Units</label>
                        <input type="text" name="units" value="{{sum}}" id="units" class="formbold-form-input formbold-mb-3" />
                  </div>

                 <div class="button-wrapper">
                        <button class="formbold-btn"> GO BACK</button>
                        <button class="button2">SUBMIT</button>

                 {{!-- <div class="button-wrapper">
                    <button class="formbold-btn"> GO BACK</button>
                    <button class="button2">SUBMIT</button> --}}

                  </div>
            </form>
      </div>
      <script>
            setTimeout(function(){
                  location.reload();

            },17500);
            </script>

     
</body>

</html>
