<<<<<<< HEAD:public/stylesheets/stylesheet/history.css
.container {
    display: grid;
display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    align-items: center;
margin-left: 200px;
    width: 800px;
    padding: 20px;
color: #D3E0EA;
}


.box {
    background-color: #276678 ;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
height: 500px;
    margin-top: 75px;
margin-left: 80px;
    padding: 20px;
    text-align: center;
overflow-y: scroll;
overflow-x: hidden;
}
tr,td,th{
 padding: 40px;
 margin-left: 50px;
}
::-webkit-scrollbar {
    width: 0.5em;
    background-color: #276678;
}

::-webkit-scrollbar-thumb {
    background-color: #2e788d ;
}
=======
body{
    background-color: #b3cde0;
    overflow: hidden;
}

h3{
    color: #211f1f;
    margin-left: 140px;
    font-size: 26px;
}
.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    align-items: center;
    margin-left: 200px;
    width: 800px;
    padding: 20px;
    color: #D3E0EA;
}
button{
  background-color: transparent;
  margin-left: 40px;
  margin-top: 30px;
  width: 50px;
  height: 30px;
  border: none;
}
a{
    text-decoration: none;
}
.box {
    background-color: #005b96;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    height: 460px;
    margin-top: 5px;
    margin-left: 80px;
    padding: 20px;
    text-align: center;
    overflow-y: scroll;
    overflow-x: hidden;
}
tr,td,th{
 padding: 40px;
 margin-left: 50px;
}
::-webkit-scrollbar {
    width: 0.5em;
    background-color: #005b96;
}

::-webkit-scrollbar-thumb {
    background-color: #0f649d ;
}
>>>>>>> 29e27f191ab75a2d97e7d9b37809d0d378004802:views/box/stylesheet/history.css
