body{
    background-color: rgb(255, 255, 255);
    color: #076168;
}
h3{
    margin-top: 80px;
    margin-left: 15%;
    color: #076168;
}
.contain{
    margin-top: 50px;
    margin-left: 300px;
}
form.details{
    display: inline;
}
input{
    margin-right: 50px; color: white;
    border: 0px;
}
.box {
    width: 200px;
    height: 200px;
    border: 1px solid #076168;
    border-radius: 15px;
    display: inline-block;
    margin-top: 100px;
    margin-left: 300px;
    text-align: center;
}

form.boxes{
    margin-top: 50px;
}
