<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <title>Document</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../stylesheets/customer/new.css">
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
  <section class="home-section">
    <nav>
      <div>
        <span class="title"></span>
      </div>
      <div class="btn">
        <button><a href="page.html">Logout</a></button>
      </div>
    </nav>

    <div class="home-content">
      <div class="s-boxes">
        <div class="r-sales box">
          <div class="s-details">
            <ul class="details" id="VaccineName">
              <li class="topic">Vaccine name</li>
              <li>{{vaccine}}</li>
            </ul>
            <ul class="details" id="Count">
              <li class="topic">Count</li>

              <li>{{data}}</li>
            </ul>
            <ul class="details" id="ManufacturingDate">
              <li class="topic">Manufacturing Date</li>

              <li>{{manu}}</li>
            </ul>
            <ul class="details" id="ExpiryDate">
              <li class="topic">Expiry Date</li>
              <li>{{manu}}</li>
            </ul>

            <ul class="details" id="VaccineName">
              <li class="topic">Location</li>
              <li>choondacherry</li>
            </ul>
          </div>
  </section>


</body>

</html>
