@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100;200;500&display=swap');
body{
    height: 100vh;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    /* padding: 10px; */
    overflow: hidden;
    background: linear-gradient(135deg, #01322e, #2c8077);
  }
  .row-header{
    border: #fefefe solid 3px;
    width: 250px;
    height: 250px;
    margin-top: 100px;
    border-radius: 5%;
    background-color: #fff;
    margin-left: 20%;
    position: relative;
  }
  .img-account-profile {
    margin-top: 25px;
    margin-left: 20%;
    height: 90px;
  }
  .rounded-circle {
      border-radius: 50% !important;
      margin-left: 20%;
      margin-top: 25px;
     
  }

  a{
    text-decoration: none;
    color: #ffffff;
    border: #fff;

  }
  .button2{
    height: 40px;
    width: 120px ;
    border-radius: 55px;
    border: #fff solid 2px;
    margin-top: 25px;
    margin-left: 3%;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    color: #ffffff;
    background-color: #074540;
  }
  /* .card .card-header {
      font-weight: 100;
      color: white;
      margin-left: 45%;
  }
  
  div.card-header {
      margin-left: 48%;
      font-weight: bold;
  } */
 
  form{
    display: block;
    border: #ffffff  1px;
    border-radius: 5px;
    width: 400px;
    height: 300px;
    margin-top: -120px;
    margin-left: 120%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 40px;
  }
  div {
    margin-bottom: 10px;
  }
  label {
    display: inline-block;
    width: 150px;
    text-align: left;
    color: #074540;
    margin-bottom: 10px;
     margin-top: 8px; 
    margin-left: 50px;
    font-weight: 200px;
    font-family: 'Roboto', sans-serif;  }
  input{
    color: #b4b8b8;
    font-style: italic;
    border: transparent;
  }
  button.profile{
    
    height: 40px;
    width: 200px;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    background: transparent;
  } 

h3{
    color: rgb(7, 7, 7);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: large;
    margin-top: 50px;
    margin-left: 50px;
}
i{
  margin-left: 15px;
}
