<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" /> <link rel="stylesheet" href="../stylesheets/box/history.css">
    <title>Document</title>
</head>
<body> 
  <button onclick="window.location.href='/box/back'"><i class="fa-solid fa-arrow-left fa-2xl" style="color: #005b96;"></i></></button>
  <h3>History Details</h3>
  <div class="container">
		<div class="box">
			<h2>Temperature History</h2>
            <table>
                <tr>
                    <th>Time</th>
                    <th>Temperature</th>
                </tr>
                <tr>
                  <td>Row1:</td>
                  <td>{{IR1}}</td>
              </tr> <tr>
                <td>Row2:</td>
                <td>{{IR2}}</td>
            </tr> <tr>
             
        </tr>
              </table>
		</div>
		<div class="box">
			<h2>Location History</h2>
            <table>
                <tr>
                    <th>Time</th>
                    <th>Location</th>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
    </tr>
            </table>
		</div>
	</div>

</body>
<script>
  setTimeout(function () {
  location.reload();
  
  }, 2000);
  </script>

</html>