<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/box/user.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />    <link rel="stylesheet" href="history.css">
    <title>Document</title>
</head>
<body>
  <button><a href="index.html"><i class="fa-solid fa-arrow-left fa-2xl" style="color: #005b96;"></i></a></button>
    <h3 class="user_profile">Manufacturer Profile</h3>
    <div class="profile">
        <div class="user-profile">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRuGFjsxZCvbMuKnsJHFywAKXzJh6SsPWVsifY_z36wVT9p38WQ3IQPDPDjhFPDyxv6YQY&usqp=CAU" alt="User Avatar" class="user-avatar">
          <h2 class="user-name">John Doe</h2>
          <div class="user-details">
            <label for="user-email">Email:</label>
            <span id="user-email">johndoe@example.com</span>
          </div>
          <div class="user-details">
            <label for="user-phone">Phone:</label>
            <span id="user-phone">+1 (123) 456-7890</span>
          </div>
          <div class="user-details">
            <label for="user-address">Employee ID:</label>
            <span id="user-address">123AD</span>
          </div>
          <div class="user-details">
            <label for="user-address">Date of Birth:</label>
            <span id="user-address">1/09/1997</span>
          </div>
        </div>
    </div>
</body>
</html>