<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/stylesheet/home.css">
    <title>Document</title>
</head>
<body>
    <button><a href="index.html"><i class="fa-solid fa-arrow-left fa-2xl" style="color: #fefefe;"></i></a></button>
    <h3>Box Details</h3>
    <div class="contain">
        <div class="details">
        <form class="details">
          <label>BOX ID</label>
          <input>
          <label>AVAILABLE UNITS</label>
          <input>
        </form>
        </div>
      </div>
      <div class="box">
        <form class="boxes">
        <label class="current" for="temperature"><b>Current Temperature</b></label>
        <input>
        </form>
    </div>
	<div class="box">
        <form class="boxes">
        <label class="current" for="location"><b>Current Location</b>n</label>
        <input>
    </div>
    </body>
</body>
</html>
