not needed





<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="views/box/page.css">
</head>
<body>

<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
<h3>Box Details</h3>    
</div>
    <div class="flip-card-back">
     <label>BOX ID</label>
     <input type="text" value=" ">
    </div>
  </div>
</div>
<div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
  <h3>Temperature History</h3>    
  </div>
      <div class="flip-card-back">
      <table>
        <tr>
            <td>Time</td>
            <td>Temperature</td>
        </tr>
      </table>
      </div>
    </div>
  </div>
  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
  <h3>Location History</h3>    
  </div>
      <div class="flip-card-back">
        <table>
            <tr>
                <td>Time</td>
                <td>Location</td>
            </tr>
        </table>
      </div>
    </div>
  </div>

</body>
</html>
