<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="user.css">
    <title>Document</title>
</head>
<body>
    <h3 class="user_profile">MANUFACTURER PROFILE</h3>
    <div class="profile">
        <div class="user-profile">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRuGFjsxZCvbMuKnsJHFywAKXzJh6SsPWVsifY_z36wVT9p38WQ3IQPDPDjhFPDyxv6YQY&usqp=CAU" alt="User Avatar" class="user-avatar">
          <h2 class="user-name">John Doe</h2>
          <div class="user-details">
            <label for="user-email">Email:</label>
            <span id="user-email">johndoe@example.com</span>
          </div>
          <div class="user-details">
            <label for="user-phone">Phone:</label>
            <span id="user-phone">+1 (123) 456-7890</span>
          </div>
          <div class="user-details">
            <label for="user-address">Employee ID:</label>
            <span id="user-address">123AD</span>
          </div>
          <div class="user-details">
            <label for="user-address">Date of Birth:</label>
            <span id="user-address">1/09/1997</span>
          </div>
        </div>
    </div>
</body>
</html>