<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="choice.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Choose the Vaccine</h1>
    <table>
        <tr>
              <td><button class="btn1"><h3>Vaccine A</h3></button></td>
        </tr>
             <td><button class="btn3"><h3> Vaccine B</h3></button></td>
       </table>
  <div>
        <button class="btn" type="button"><h2>LOG OUT</h2></button>
</body>
</html>
