<!DOCTYPE html>
<html lang="en">
<head>
      <link rel="stylesheet" href="details.css">
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
</head>
<body>
      <form action="/details" method="POST">
      <h1>VACCINE A</h1>
      <div>
            <h3 class="ab">Manufacturer Name</h3>
      </div>
      <div>
            <h3 class="cd">Employee ID</h3>
      </div>
      <div>
            <h3 class="ef">Date of Manufacturing</h3>
      </div>
      <div>
            <h3 class="fg">Date of Expiry</h3>
      </div>
      <button type="button"><h2>GO BACK</h2></button>
      </form>
</body>
</html>
