<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="signup.css">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>SIGN UP</h1><BR>
    <h2>CREATE AN ACCOUNT</h2>    
    <form>
        <label for="email"><h3 class="email">ENTER YOUR EMAIL ID</h3></label>
        <input class="email" type="email" for="email" placeholder="type your emai ld here">
        <label for="name"><h3 class="name">ENTER YOUR NAME</h3></label>
        <input class="name" type="text" for="name" placeholder="type your name here">
        <label for="pswd"><h3 class="pswd">ENTER YOUR PASSWORD</h3></label>
        <input class="pswd" type="password" for="pswd" placeholder="type your password here">
    </form>
    <button type="button"><b> SIGN UP</b></button>
</body>
</html>