h3.user_profile{
    margin-top: 5%;
    margin-left: -8%; 
    color: #276678;
    font-family: 'Times New Roman', Times, serif;
    align-items: center;
    margin-left: 200px;
  }
  .user-profile {
      background-color: #276678;
      max-width: 600px;
      margin: 50px auto;
      padding: 20px;
      box-shadow: 0 0 10px rgba(0,0,0,0.2);
      color: #D3E0EA;
    }
    .user-details {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
    }

    .user-details label {
      font-weight: bold;
      width: 150px;
      margin-right: 50px;
      color: #D3E0EA;
    }

    .user-details span {
      flex: 1;
    }

    .user-avatar {
      display: block;
      width: 100px;
      height: 100px;
      margin: 0 auto;
      border-radius: 50%;
      object-fit: cover;
      object-position: center center;
      box-shadow: 0 0 10px rgba(0,0,0,0.2);
    }
    .user-name {
      font-size: 24px;
      text-align: center;
      margin-top: 10px;
      margin-bottom: 20px;
    }
