
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="stylesheets/m2/cushmpg.css">
    <style></style>
</head>
<body>
  <form action="/home_cor" method="POST">
    <div class="body">
        
       

         <div >
            <button1>Choose the vaccine</button1>
        </div>
            

          <div>
            <button2>Log Out</button2>
          </div>  
             
          <div>
            <button3><a href="/locations_available">Vaccine A</a></button3>
          </div>
            
            <div>
                <button4>Vaccine B</button4>
            </div>
            
            
        
    </div>

    </form>
</body>

