<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="locations.css">
    <style></style>
</head>
<body>
    <div class="body">
        
                    <h1>
                 COWAXIN
                  </h1> 
       

         <div class="l">
        <img src="kopp.jpeg" alt="kundan_bino">
        </div>
            <button>
                Go Back
              </button>
              <h2>Available locations</h2>
        
    </div>
    


</body>
</html>
