<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="stylesheets/m2/vaccine_details.css">
</head>
<body>
    <form action="/locations_available" method="post">
    <div class="body">
        
            <button class="goback">Go Back</button>
        
            <img class="image" src="" alt="">

            <div class="main">

            
        
        <table>
            <tr>
                <td></td><button class="count">Vaccine Count</button></td>
            </tr>
            <tr>
                <td><button class="details">Vaccine Details</button></td>
            </tr>
            <tr>
                <td><button class="locations">Vaccine Locations</button></td>
            </tr>
        </table>
    </div>

    <p class="vaccname">COWAXIN</p>
        
    </div>
    </form>
</body>
</html>
